In [1]:
#creating tuples
value_tuple=(26,45,'hello')
value=("a",)
type(value)

tuple

In [3]:
value="b"
type(value)

str

In [5]:
#insertion in tuple
value_tuple=(26,45,'hello',7.5)
value_tuple

(26, 45, 'hello', 7.5)

In [9]:
value_tuple[2]="python"

TypeError: 'tuple' object does not support item assignment

In [15]:
#concatantion
value1_tuple=(26,45,'hello')
value2_tuple=(7,5.6,"python")
value3_tuple=value1_tuple+value2_tuple
value3_tuple

(26, 45, 'hello', 7, 5.6, 'python')

In [17]:
value1_tuple=(26,45,'hello')
value2_tuple=(7,5.6,"python")
value3_tuple=value1_tuple,value2_tuple
value3_tuple

((26, 45, 'hello'), (7, 5.6, 'python'))

In [33]:
value1_tuple=(26,45,"hello")
value1_tuple=value1_tuple+(7,)
value1_tuple

(26, 45, 'hello', 7)

In [37]:
converted_list=list(value1_tuple)
converted_list

[26, 45, 'hello', 7]

In [39]:
converted_list.append(7)
converted_list

[26, 45, 'hello', 7, 7]

In [41]:
value1_tuple=tuple(converted_list)
value1_tuple

(26, 45, 'hello', 7, 7)

In [43]:
value1_tuple=(26,45,"helo")*4
print(value1_tuple)

(26, 45, 'helo', 26, 45, 'helo', 26, 45, 'helo', 26, 45, 'helo')

In [47]:
#WAP program to get the tuple value from the user and print it
value=()
n=int(input())
list_1=[]
for i in range(n):
    list_1.append(int(input()))
value=tuple(list_1)

 4
 12
 10
 34
 56

In [3]:
a=(10,20,30)
b=list(a)
print(b)

[10, 20, 30]

In [5]:
a=(10,20,30)
b=list(a)
b.append(7)
print(b)

[10, 20, 30, 7]

In [9]:
a=(10,20,30)
b=list(a)
b.append(7)
#print(b)
x=tuple(b)
x

(10, 20, 30, 7)

In [11]:
#Accessing values in tuple
number=("one","two","three","four")
i=0
while i<len(number):
    print(number[i])
    i=i+1

one
two
three
four

In [13]:
number=("one","two","three","four")
for i in number:
    print(i)

one
two
three
four

In [15]:
#write a python program to get the element 45 from the below tuple
value_tuple=(26,12,10,6,67,91,45,"hello",7.5,99,7,"name")
print(value_tuple[6])

45

In [17]:
#unpacking the tuples
number=("one","two","three","four")
(a,b,c,d)=number
print(a)

one

In [19]:
number=("one","two","three","four")
(a,*b,c)=number
print(a)
print(*b)
print(c)

one
two three
four